.picture_content {
  line-height: 150px;
}

.product_image {
  height: 150px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chevron {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  float: left;
}

.itemHeader {
  font-size: 16px;
  font-weight: bold;
}

.popup {
    /*position:relative;*/
}
.popup div {
    display: none;
}
.popupHover {
    position:relative;
}
.popupHover .popup_div {
    display:block;
    position:absolute;
    width: 300px;
    height: 250px;
    top:1.3em;
    *top:20px;
    left:20px;
    z-index:1000;
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #BF0000;
    box-shadow: 5px 5px 7px #999;
    color: #685333;
}
